html,
body {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display : flex;
    flex:0;
    padding-top: 50px;
    flex-direction: column;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: lightseagreen;
    border: 15px;
    width: 400px;
    min-width: 400px;
    padding: 20px;
    border-radius: 25px;
    
}

.result {
    display: flex;
    overflow: auto;
    text-overflow:ellipsis;
    line-height: 1em; /* a */
    max-height: 1em;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 90px;
    font-weight: bolder;
    font-size: 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
}

button {
    width: 90px;
    height: 150px;
    margin: 5px;
    border-radius: 15px;
    flex-shrink: 1;
    font-size: 20px;
    font-weight: bolder;
    flex-wrap: wrap;
    background-color: gainsboro;
    border-color: aliceblue;
    border-style: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.operand {
    background-color: lightcoral;
    border-style: hidden;
}

#clear {
    background-color: lightgoldenrodyellow;
}

#equals {
    background-color: lightgreen;
}